<!DOCTYPE html>
<html>
    <head><meta charset="UTF-8" content="text/html"></head>
    <body>
        <h1>Weather Report</h1>
        <form name="location" id="location" method="GET" action="/location">
        <p><label>Enter your location(City name): </label><input type="text" name="cityName"></p>
        <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>