<!DOCTYPE html>
<html>
    <head><meta charset="UTF-8" content="text/html"></head>
    <body>
        <h1>Weather Reports</h1>
        <h2>It's <%=temp %> fahrenheit in <%=city%></h2>
    </body>
</html>